<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"crossorigin="anonymous"></script>
    <title>Sign in Form</title>
</head>
<body>
   <div class="container">
       <div class="forms-container">
            <div class="signin-signup">
                <form action="/auth/login" method="post" class="sign-in-form">
                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Email" name="email"/>
                    </div>
                    <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" name="password"/>
                    </div>
                    <div class="login-button">
                        <input type="submit" value="Login" class="btn-login" />
                    </div>
                {{#if message}}
                <h5 class="alert">{{message}}</h5>
                {{/if}}
                </form>
            </div>
       </div>
       <div class="panels-container">
            <div class="panel left-panel">
            <div class="content">
                <h3>New here ?</h3>
                <p>
                Welcome! Register to become a new user
                </p>
                <a href="/register" class="btn-signup transparent" id="sign-up-btn" type="submit">
                Sign up
                </a>
                <img src="/logo.svg" class="image" alt="" />
            </div>
        </div>
   </div>
</body>

</html>