body{
  background-color: #f1efef;
}

.App {
  text-align: center;
}

.container-fluid{
  color: white;
}

.forms-container{
  width: 420px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.input-field{
  max-width: 300px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 75%;
  padding: 0 0.4rem;
  position: relative;
  margin: 10px 0;
}

.sign-in-form{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  grid-column: 1/2;
  grid-row: 1/2;
  overflow: hidden;
}

.input-field input{
  border: none;
  background: none;
  outline: none;
  font-weight: 600;
}

.btn-login{
  width: 150px;
  height: 49px;
  outline: none;
  border: none;
  border-radius: 40px;
  background-color: #5995fd;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
}

.input-field i {
  text-align: center;
  line-height: 60px;
  color: #313030;
  transition: 0.5s;
  font-size: 1.1rem;
}
.error-message{
  font-size: 14px;
  font-weight: 600;
  color: red;
}


.task-header{
  display: flex;
  width: 250px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.home-icon{
  font-size: 45px;
  color: #5995fd;
  
}

.home-icon:hover{
  cursor: pointer;
}

.left-button{
  font-size: 45px;
  color: #5995fd;
  display: flex;
  padding-left: 45px;
}

.left-button:hover{
   cursor: pointer;
}

.container-header{
  display: flex;
  width: 250px;
  padding-top: 30px;
  padding-bottom: 35px;
}


.save_note{
  width: 150px;
}

.notes-section{
  margin-top: 30px;
}

.detail-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.write-note-section{
   margin-bottom: 20px;
   min-width: 300px;
}

.save-button-wrapper{
  display:flex;
  padding-top: 15px;
}

.save_note{
  font-weight: 700;
  border-radius: 5px;
}

tr:hover{
  cursor: pointer;
}

 #notes-editor{
  height: 300px;
}

#notes-editor{
  height: 250px;
  width: 450px;
}

.note-textarea{
  min-height:120px;
  width: 450px;
}

@media screen and (min-width:320px) and (max-width:640px) {
  #notes-editor{
    height: 250px;
    width: 350px;
  }

  .note-textarea{
    max-height:90px;
    width: 350px;
  }
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.form-control{
  border: 2px solid #b6b3b3;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

table{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th{
  font-weight: 600;
  font-family: "Consolas";
  font-size: 20px
}

td{
  font-weight: 500px;
  font-family: "Consolas";
  font-size: 18px;
}

p{
  font-weight: 500px;
  font-family: "Consolas";
  font-size: 18px;
  color: #252525;
}

.upload-image-input{
  color: #252525;
}